<%-include('navbar') -%>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="./css/faculty.css">

    <title>Faculty</title>
    <div class="container-fluid p-4">
        <header class="entry-header">
            <h1 class="entry-title">
                Faculty </h1>
        </header>

        <div class="row">

            
                <div class="col-sm-4">
                    <div class="card p-2 facultymem text-center">
                        <img src="https://d37c7ubwjknfep.cloudfront.net/wp-content/uploads/2020/04/Prof.-Purohit.jpg" height="379.1" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="name"><strong>Dr.Neetesh Purohith</strong></div>
                            <div class="designation"><strong>PROFESSOR</strong></div>
                            <div class="cn-excerpt">
                                <p><span class="cn-entry-meta-value"><strong>Research Areas:</strong> Wireless
                                        Communications,Information and Communication Technologies,Cyber Security,Digital
                                        Signal Processing,IoT Security,Fog-CPS Security
                                    </span></p>
                                <br>
                                <span class="email-address"><a class="value" title=" soumyadev personal email."
                                        href="soumyadev@iiita.ac.in">np@iiita.ac.in</a></span>
                                <div class="personal-website-address">
                                    <a href="https://iiita.irins.org/profile/102940" class="fa-solid fa-user"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- updating venkateshan -->
            <div class="col-sm-4" height="379.1">
                <div class="card p-2 facultymem text-center">
                    <img src="https://profile.iiita.ac.in/venkat/venk.jpg" height="379.1"  class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <div class="name"><strong>Dr. S.Venkateshan</strong></div>
                        <div class="designation"><strong>ASSOCIATE PROFESSOR</strong></div>
                        <div class="cn-excerpt">
                            <p><span class="cn-entry-meta-value"><strong>Research Areas:</strong> Mobile Agent
                                    Security,Applied Cryptography,Blockchain,Cloud Computing,Social Network Privacy,IoT
                                    Security,Fog-CPS Security

                                </span></p>
                                <br>
                            <span class="email-address"><a class="value" title=" soumyadev personal email."
                                    href="soumyadev@iiita.ac.in">venkat@iiita.ac.in</a></span>
                            <div class="personal-website-address">
                                <a href="https://it.iiita.ac.in/?pg=facultypage&uid=venkat"
                                    class="fa-solid fa-user"></a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-4" height="379.1">
                <div class="card p-2 facultymem text-center">
                    <img src="images/myphoto3.jpg"  height="379.1" class="card-img-top"
                        alt="https://lh6.googleusercontent.com/PP32u8CeBg182HVUics9srXqKBvSEg-6xHRANkg5VvOhvd--Ekzx1NJo3mgznfyG65J_GsCBJ5DvhW62HNLTwYy9vPxJWrZZsb06JQRwfkzDgcsv6nQ2zqNEc4CouDKnrw=w1280">
                    <div class="card-body">
                        <div class="name"><strong>Dr. Soumyadev Maity</strong></div>
                        <div class="designation"><strong>ASSISTANT PROFESSOR</strong></div>

                        <div class="cn-excerpt">
                            <p><span class="cn-entry-meta-value"><strong>Research Areas:</strong>Applied
                                    Cryptography,Quantum Cryptography,Post Quantum Cryptography,Network
                                    Security,Cyber-Physical Systems Security,Cloud Data Security,Software
                                    Security,Anomaly Detection System
                                </span></p>
                            <span class="email-address"><a class="value" title=" soumyadev personal email."
                                    href="soumyadev@iiita.ac.in">soumyadev@iiita.ac.in</a></span>
                            <div class="personal-website-address">
                                <a href="https://it.iiita.ac.in/?pg=facultypage&uid=soumyadev"
                                    class="fa-solid fa-user"></a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
            
        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/c6e48d3acb.js" crossorigin="anonymous"></script>
</body>
<!-- <script src="https://kit.fontawesome.com/1a4089a622.js" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script>
    includeHTML();
</script>
</html>