<%-include('navbar') -%>
<title>Fog CPS Security Lab</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/sidebar.css">
  
  <div class="row" style="margin:0%;">
    <!-- <div class="col-12" style="padding:0%;"><div include-html="navbar.html">navbar </div></div> -->
    <div class="w-100"></div>
    <div class="col-sm-8"style="padding:0%;">
      <div class="index-container" >
        <div id="bgc">
      <section id="cta" style="background-image: url(images/campus3.jpg); background-size: cover; ">
        <h3 class="content-cta" style="font-size:3vw;">Welcome to the Fog-CPS Security Lab!</h3>
        <a href="idx.html"><button class="btn btn-lg btn-block btn-dark cta-button" type="button" >Contact</button></a>
        <button class="btn btn-lg btn-block btn-outline-light cta-button" style="color: black; background-color: aliceblue;" type="button">  Faculty </button>
    
      </section></div>
      <h5 class="matter-heading">
      About Fog-CPS Security Lab
     </h5>
     <p class="matter">
      Fog assisted Cyber Physical System (Fog-CPS) Security Lab is established with the motive of developing various techniques and protocols to protect the network infrastructure against various attacks in Fog-CPS device. Various research areas in the field of Fog-CPS Security is identified novel and research is initiated to fulfill the security requirements. Fog-CPS security lab is started to provide necessary infrastructure to PhD Scholars in Network Security, M.Tech (Cyber Law and Information Security) students, B.Tech students. However, Fog-CPS security lab is open for all IIIT-Allahabad students to do their research in the field of Network Security and cryptography.
     </p>
     <p class="matter">
      Lab is enabled with high end GPU server and 2 high end server to provide the high processing computing power to the researchers.
    </p>
    <p class="matter">
      <b>Vision:</b>Fog assisted Cyber Physical System (Fog-CPS) Security Lab started with the vision to solve the network security and privacy challenges faced by the individual, Government and Non-Government organization & industries.

    </p>
    <p class="matter">
      <b>Mission: </b>Fog assisted Cyber Physical System (Fog-CPS) Security Lab will introduce courses related to network security, advanced cryptography and privacy to train the professionals for addressing the security challenges. Involve industry partners in security research.
    </p>
    <p>
      <b>Objectives:</b>

<ul>To train more professional in the area of Network Security.</ul>
<ul>To support in developing vulnerability free protocols.</ul>
<ul>To support industry in Fog assisted Cyber Physical System (Fog-CPS) Devices.</ul>
<ul>To introduce courses on recent emerging network security field such as Data Integrity Checking, etc..</ul>
<ul>To introduce novel security solutions for various network security issues.</ul>
<ul>To provide opportunity to the researchers to work on advanced research topics.</ul>
</p>

      <!-- Testimonials -->
    
      <section id="testimonials" >
    
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
    
            <div class="carousel-item active testimonials-item " data-bs-interval="2000">
    
              <!-- <h2 class="testimonial-text">Lorem ipsum dolor sit amet consectetur, </h2> -->
              <img class = "testimonials-img lab1img" src="images/lab1.jpg" alt="IIIT-Allahabad LAB IMG" >
              <!-- <img class="testimonials-img" src="images/.jpg" alt="profile"> -->
              <!-- <em>Pebbles, New York</em> -->
    
            </div>
            <div class="carousel-item testimonials-item" data-bs-interval="2000">
              
              <img class = "testimonials-img lab1img" src="images/lab2.jpg" alt="IIIT-Allahabad LAB IMG" >
              <!-- <img class="testimonials-img" src="images/lamg.jpg" alt="lprofile"> -->
              <!-- <em>Beverly, Illinois</em> -->
    
            </div>
            
          </div>
    
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span>Previous</span>
          </button>
    
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span>Next</span>
            <span class="carousel-control-next-icon"></span>
            
          </button>
    
        </div>
    
      </section>
    
      <footer id="footer">  
        <a class="fab fa-facebook footer-links" href="https://www.facebook.com/"> </a>
        <a class="fab fa-twitter footer-links" href="https://www.twitter.com/"> </a>
        <a class="fab fa-linkedin footer-links" href="https://www.linkedin.com/"> </a>
        <a class="fab fa-github footer-links" href="https://github.com/"> </a>
      </footer>
    </div>
    </div>
      <div class="col-sm-4" >
        <%-include('sidebar')-%>
      </div>
  </div>
  
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script>
    includeHTML();
</script> 

</body>
<script src="https://kit.fontawesome.com/1a4089a622.js" crossorigin="anonymous"></script>
 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   

</html>
