<%- include("navbar") -%>
  </head>
  <body>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="./css/faculty.css">
    <div class="row" style="margin:0%;">
        <title>Scholars</title> 
        <div class="w-100"></div>
        <div class="col-sm-8"style="padding:0%;">
    <h1 class="entry-title" style="text-align: center;"> Scholars </h1>
    <div class="container-fluid p-4" >
       <div class="row">
        <div class="col-sm-4">
            <div class="card p-2 facultymem text-center" >
                <img src="./images/Junaid Alam.jpeg" class="card-img-top" alt="..." style="height: 20rem;">
                <div class="card-body">
                    <div class="name"><strong>Junaid Alam</strong></div> 
                    <div class="designation"><strong>Ph.D Student</strong></div> 
                    <div class="cn-excerpt"><p><span class="cn-entry-meta-value"> I am Junaid Alam, PhD Student, working under the supervision of  Dr. S. Maity(Assistant Professor of Information Technology at IIIT-A) and the Co-supervision of Dr. S Vekatesan(Associate Professor of Information Technology at IIIT-A) and also working as JRF in a project titled as Reliable and Privacy Preserving Data Auditing for Fog assisted Cyber Physical Systems (Fog-CPS) funded by C3iHub, IIT Kanpur.  </span></p>
                        <!-- <span class="email-address"><a class="value" title=" soumyadev personal email." href="soumyadev@iiita.ac.in">soumyadev@iiita.ac.in</a></span>    -->
                            <!-- <div class="personal-website-address">
                            <a href="" class="fa-solid fa-user"></a>
                            </div>  -->
                    </div>                
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card p-2 facultymem text-center" >
                <img src="/images/Abha.jpg" class="card-img-top" alt="..." style="height: 20rem;">
                <div class="card-body">
                    <div class="name"><strong>Abha</strong></div> 
                    <div class="designation"><strong>Ph.D Student</strong></div> 
                    <div class="cn-excerpt"><p><span class="cn-entry-meta-value"> I am Abha Upadhyay, PhD student working under the joint guidance of Dr. S. Venkatesan and Dr. S.
                        Maity at the Indian Institute of Information Technology, Prayagraj under C3ihub funded project. I am
                        working on the topic of Applied Cryptography and Network Security.In the past, I have previously
                        worked as a JRE in the Internet-of-Things space at the Indian Institute of Information Technology,
                        Prayagraj.</span></p>
                        <!-- <span class="email-address"><a class="value" title=" soumyadev personal email." href="soumyadev@iiita.ac.in">soumyadev@iiita.ac.in</a></span>    -->
                            <!-- <div class="personal-website-address">
                            <a href="" class="fa-solid fa-user"></a>
                            </div>  -->
                    </div>                
                </div>
            </div>
        </div>
       </div>
    </div>
    </div>
    <div class="col-sm-4" >

        <%- include('sidebar') -%>
    </div>
    <!-- <script > includeHTML()</script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
  <script src="https://kit.fontawesome.com/c6e48d3acb.js" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/1a4089a622.js" crossorigin="anonymous"></script>
 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   

</html>